* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

    #cabecalho { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 30px;
  }

  .secoes{ 
    background-color: #e8f1f5;
    font-family:Arial, Helvetica, sans-serif ;

  }

  #nome {
    color: #005691;
    background-color: #e8f1f5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 20px;
  }
  
  #menu {
    color: #005691;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding:20px;
  
    
   
  }

  #menu a{
    margin-right: 25px; 
    text-decoration: none;
    color: #005691;
  }

  #menu a:hover {
    color: #02070c;
}

  .secao{
    padding-left:30px;
    padding-top: 20px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif ;

  }

  #perfil{
    display:flex;
    align-items: center;
  }

  #imagem_perfil{
    max-width: 300px;
    height: auto;
    padding: 30px;
    
    
  }

  .informacoes_perfil{
    margin: 15px 0;
    width: 50%;

  }

  
.repositorios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 20px; 
}

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
}

.card-body {
    padding: 20px; 
    background-color: #fafafa;
}

.card-title {
    font-size: 1.2em; 
    margin-bottom: 10px; 
    background-color: #005691;
    color:#fafafa;
}

.card-text {
    color: #666; 
}

.card_icon {
    margin-top: 10px; 
    
}

.imagemcolegas {
    width: 200px;
    height: auto;
    padding: 30px;

}

#colegas figure {
    display: inline-block;
    margin: 0 10px;
  }
  
  #colegas figcaption {
    text-align: center;
    margin-top: 5px;
  }

  .descricaoslide{
    display: flex;
    justify-content:center ;
    font-size: 15px;
    background-color: #005691;
    color:#fafafa;
  }

  #rodape{
    text-align: center;
    padding: 25px;
    background-color: #e8f1f5;
    bottom: 0;
    font-family:Arial, Helvetica, sans-serif ;

    
  }

  @media screen and (max-width: 600px) {
    #perfil{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Centraliza o conteúdo verticalmente */
        text-align: center; /* Centraliza o conteúdo horizontalmente */
    
    }
    #imagem_perfil {
        padding: 20px;
        max-width: 200px;
        height: auto;
    }

    #informacoes_perfil {
        margin: 10px 0; /* Reduz a margem superior e inferior das informações */
        display:flex;
        align-items: center;
        justify-content: center; /* Centraliza o conteúdo verticalmente */
        text-align: center; /* Centraliza o conteúdo horizontalmente */
        flex-direction: column;
    }

    #menu{
      display: flex;
      flex-direction: column;
      
    }
    

}

  
