* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

    #cabecalho { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 50px;
  }

  #nome {
    color: black;
    background-color: rgb(187, 180, 180);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 20px;
  }
  
  #menu {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding:20px;
    
   
  }

  #menu a{
    margin-right: 25px; 
  }

  .secao{
    padding-left:30px;
    padding-top: 30px;
  }

  #perfil{
    display:flex;
    align-items: center;
  }

  #imagem_perfil{
    width: 300px;
    height: auto;
    padding: 30px;
    
    
  }

  .informacoes_perfil{
    margin: 15px 0;
    display: flex;

  }

  #icone {
    
    
  }

  
.repositorios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 20px; 
}

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
}

.card-body {
    padding: 20px; 
}

.card-title {
    font-size: 1.2em; 
    margin-bottom: 10px; 
    background-color: rgb(187, 180, 180);
}

.card-text {
    color: #666; 
}

.card_icon {
    margin-top: 10px; 
    
}

